[package]
name = "aoc"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
itertools = "0.14.0"
thiserror = "2.0.17"

[lints.rust]
unused = "allow"

[profile.dev]
debug = true
opt-level = 1

[profile.release]
debug = true
